---
import type { CollectionKey } from "astro:content";
import { getCollection } from "astro:content";

interface Props {
  contentName: string;
  linkText?: string;
  showDay?: boolean;
  content: CollectionKey;
}

const { contentName, content, linkText, showDay = true } = Astro.props;

const contentList = await getCollection(content).then((content) =>
  content.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);
---

<section class="pb-7">
  <div class="mb-6 flex items-baseline justify-between">
    <h2 class="font-tiposka flex items-center text-xl font-semibold text-white">
      {contentName}
    </h2>

    <a
      class:list={[
        "group inline-flex items-center gap-1 text-sm transition-opacity",
        contentList.length > 0
          ? "opacity-100 hover:underline"
          : "pointer-events-none opacity-0",
      ]}
      href={contentName}
      aria-hidden={contentList.length === 0}
    >
      {linkText ?? contentName}

      <div class="transition duration-200 group-hover:rotate-45">
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="size-3.5 whitespace-nowrap"
        >
          <path
            d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path>
        </svg>
      </div>
    </a>
  </div>

  <div class="space-y-2">
    {
      contentList.length > 0 ? (
        contentList.map((item) => (
          <a
            class="group flex flex-col gap-1 sm:flex-row sm:items-baseline sm:justify-between sm:gap-4"
            href={`${contentName}/${item.id}`}
          >
            <span class="group-hover:text-accent text-gray-200 transition-colors duration-200 sm:order-2">
              {item.data.title}
            </span>

            <span class="shrink-0 text-sm text-gray-500 tabular-nums sm:order-1 sm:w-28">
              {item.data.date.toLocaleDateString(
                "en-US",
                showDay
                  ? { month: "short", day: "2-digit", year: "numeric" }
                  : { month: "short", year: "numeric" },
              )}
            </span>
          </a>
        ))
      ) : (
        <div class="flex justify-center rounded-lg px-4 py-3 text-sm text-gray-400">
          Nothing yet still working on it.
        </div>
      )
    }
  </div>
</section>
